In [1]:
import pandas
#EDA = Exploratory data analysis
data=pandas.read_csv("Datasets/heart_cleveland_upload.csv")
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

In [2]:
#check whether you have some empty cells
data.isnull().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [3]:
#split into x and y
array=data.values
X = array[ :, 0:13]#(These are the features)
Y=array[:,13]#location of (predicted outcome)
X

array([[69.,  1.,  0., ...,  1.,  1.,  0.],
       [69.,  0.,  0., ...,  0.,  2.,  0.],
       [66.,  0.,  0., ...,  2.,  0.,  0.],
       ...,
       [35.,  1.,  3., ...,  1.,  0.,  2.],
       [35.,  0.,  3., ...,  0.,  0.,  0.],
       [35.,  1.,  3., ...,  0.,  0.,  2.]], shape=(297, 13))

In [4]:
#split the data into x_train and x_test together with y_train and y_test
from sklearn import model_selection

X_train,X_test,Y_train,Y_test=model_selection.train_test_split(X,Y,test_size=0.5,random_state=42)

In [5]:
#from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
#from sklearn.linear_model import LogisticRegression
# from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
import joblib

models = {
    # "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    # "Logistic Regression": LogisticRegression(max_iter=1000),
    # "XGBoost": XGBClassifier(use_label_encoder=False, eval_metric='logloss')
}

for name, model in models.items():
    model.fit(X_train, Y_train)#here we are fitting the model
    preds = model.predict(X_test)#this is prediction of data
    acc = accuracy_score(Y_test, preds)#accuracy score
    print(f"{name} Accuracy: {acc:.4f}")
    # ✅ Save the trained model
joblib.dump(model, "Datasets/heart_cleveland_upload.csv")

Random Forest Accuracy: 0.8389

['Datasets/heart_cleveland_upload.csv']